{% extends "base.html" %}

{% block header %}
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>Sports Course</strong> <small>后台管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
{% end %}

{% block body %}

<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/login"><span class="am-icon-home"></span> 首页</a></li>
        <li><a href="/org"><span class="am-icon-table"></span> 场馆管理</a></li>
        <li><a href="/user"><span class="am-icon-table"></span> 用户管理</a></li>
        <li><a href="/course"><span class="am-icon-table"></span> 课程管理</a></li>
        <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>如果操作中遇到问题，请与本系统开发者联系。</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>避免在不安全的环境中上网</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户列表</strong></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <a id="newuser" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增课程</a>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                  <th class="table-check"><input type="checkbox" /></th><th class="table-id">ID</th><th class="table-title">课程名称</th><th class="table-date am-hide-sm-only">执教教师</th><th class="table-date am-hide-sm-only">创建时间</th><th class="table-title">状态</th><th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td><input type="checkbox" /></td>
              <td>{{users.index(user)+1}}</td>
              <td >{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{orgs[users.index(user)]}}</td>
              {% if user[3]==1 %}
              <td>已开通</td>
              {% else %}
              <td>未开通</td>
              {% end %}
              <td class="hide_element">{{user[4]}}</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                      {% if user[3]==1 %}
                      <a onclick="changeStatus(this, 0)" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o">关闭</span> </a>
                      {% else %}
                      <a onclick="changeStatus(this, 1)" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o">开通</span> </a>
                      {% end %}
                    <a onclick="delUser(this)" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>
                    <a class="am-btn am-btn-default am-btn-xs am-hide-sm-only" onclick="dispUser(this)">查看<span class="am-icon-copy"></span> </a>
                  </div>
                </div>
              </td>
            </tr>
            {% end %} 
          </tbody>
        </table>
          <div class="am-cf">
  共 15 条记录
  <div class="am-fr">
    <ul class="am-pagination">
      <li class="am-disabled"><a href="#">«</a></li>
      <li class="am-active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>


<script src="{{static_url('js/jquery.min.js')}}"></script>
<script src="{{static_url('js/amazeui.min.js')}}"></script>
<script src="{{static_url('js/app.js')}}"></script>
<script src="{{static_url('js/layer.js')}}"></script>
<script>
    $("#newuser").on("click", function(){
            layer.open({
                type: 2,
                title: '添加新用户',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '600px'],
                content: '/newuser'
                });
            });

//删除用户
function delUser(thisObj){
    var $td = $(thisObj).parents('tr').children("td");
    var userid = $td.eq(6).text();
    var username = $td.eq(3).text();

    layer.confirm("你正在准备删除："+username, {
            btn: ["删除", "取消删除"]
            }, function(){
            delName(userid);
            }, function(){
            layer.msg("已经取消删除了")
            });
}

function delName(name){
    delorg = {"id": name}
    $.ajax({
        type: "post",
        url: "/user",
        data: delorg,
        success: function(e){
            if (e=="1"){
                location.reload();
            } else {
                layer.msg("它很顽固，没能够删除。")
            }
        }

    });
}

//关闭/开通用户
function changeStatus(thisObj, status){
    var $td = $(thisObj).parents('tr').children("td");
    var id = $td.eq(6).text();
    var data = {"id": id, "status": status}
    $.ajax({
            type: "post",
            url: "/dispuser",
            data:data,
            success: function(e){
            if (e=="1"){
            layer.msg("状态修改成功.", {
                time: 1000
                },function(){
                    location.reload();
                });
            } else {
                layer.msg("修改状态操作失败")
                }
            }
        }); 
}
//查看场馆详细信息
function dispUser(thisObj){
    var $td = $(thisObj).parents('tr').children("td");
    var id = $td.eq(6).text();
    layer.open({
            type: 2,
            title: '查看场馆信息',
            shadeClose: true,
            shade: 0.8,
            area: ['800px', '600px'],
            content: "/dispuser?id="+id
            });
}
</script>
{% end %}
